<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chess2.Properties.UserSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chess2.Properties.UserSetting>
            <setting name="Role" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Status" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Nick" serializeAs="String">
                <value />
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="IdUser" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rating" serializeAs="String">
                <value>0</value>
            </setting>
        </Chess2.Properties.UserSetting>
    </userSettings>
</configuration>